<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="assets/styles/navigation.css" />
    <link rel="icon" href="assets/images/AG.png">
<title>Dashboard</title>
  </head>
  <body>
	<!--<footer>
	<p>Website created by Asher and Lava © All Rights Reserved</p>
	</footer>-->
<div class="wrapper">
    <div class="sidebar">
        <h2>SenpaiBot</h2>
        <ul>
            <li><a href="home"><i class="fas fa-home"></i>Home</a></li>
            <!-- <li><a href="profile"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="moderation"><i class="fas fa-address-card"></i>Moderation</a></li>
			      <li><a href="automod"><i class="fas fa-address-card"></i>Auto Mod</a></li>
            <li><a href="custom"><i class="fas fa-address-book"></i>Custom Commands</a></li> -->
            <li><a href="settings"><i class="fas fa-address-book"></i>Settings</a></li>
            <li><a href="support"><i class="fas fa-address-book"></i>Support</a></li>
        </ul> 
		<!--<div class="social_media">
		  <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div>-->
    </div>
    <div class="main_content">
        <div class="header">Welcome to the SenpaiBot dashboard!</div>
        <p align="center">
        {% if not authorized %}
        <a href="/login"><button>Login with discord</button></a>
        {% else %}

        <div class="body"> This is the dashboard for SenpaiBot to control the settings of the bot! </div>
      
    </select></div>
    {%endif %}  

    </div>
</div>
 </body>
</html>