 <!-- base made by lava, edited by asher  -->
<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="assets/styles/navigation.css" />
  <link rel="stylesheet" type="text/css" href="assets/styles/profile.css" />
    <link rel="icon" href="assets/images/AG.png">
<title>Dashboard</title>
  </head>
  <body>
	<!--<footer>
	<p>Website created by Asher and Lava © All Rights Reserved</p>
	</footer>-->
<div class="wrapper">
    <div class="sidebar">
        <h2>SenpaiBot</h2>
        <ul>
            <li><a href="home"><i class="fas fa-home"></i>Home</a></li>
            <!-- <li><a href="profile"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="moderation"><i class="fas fa-address-card"></i>Moderation</a></li>
			      <li><a href="automod"><i class="fas fa-address-card"></i>Auto Mod</a></li>
            <li><a href="custom"><i class="fas fa-address-book"></i>Custom Commands</a></li> -->
            <li><a href="settings"><i class="fas fa-address-book"></i>Settings</a></li>
            <li><a href="support"><i class="fas fa-address-book"></i>Support</a></li>
            <li><a href="commands"><i class="fas fa-address-book"></i>Commands</a></li>
        </ul> 
    </div>
    <div class="main_content">
        <div class="header">Welcome to the SenpaiBot dashboard!</div>
        <div class="body">
        <div> This is a placeholder for the Profile's page! </div>
        <br>
        <div>This will probably be removed.</div>
        </div>
    </div>
</div>
 </body>
</html>