{% extends "settings.html" %}
{% block content %}
<option value='Stream Senpai'>Stream Senpai</option>
<option value='Alpha Mods'>Alpha Mods</option>
<option value='MEE6'>MEE6</option>
<option value='Dyno'>Dyno</option>
<option value='Content-Creator'>Content-Creator</option>
<option value='Tall Glass of Lemonaid'>Tall Glass of Lemonaid</option>
<option value='Twitch Subby Bois'>Twitch Subby Bois</option>
<option value='OR1'>OR1</option>
<option value='Smort Peepo'>Smort Peepo</option>
<option value='recruit'>recruit</option>
<option value='Nitro Booster'>Nitro Booster</option>
<option value='Unicorn Squad'>Unicorn Squad</option>
<option value='Bot Commander'>Bot Commander</option>
<option value='Sam-pai'>Sam-pai</option>
<option value='Twitch Subscriber: Tier 1'>Twitch Subscriber: Tier 1</option>
<option value='Twitch Subscriber: Tier 2'>Twitch Subscriber: Tier 2</option>
<option value='Twitch Subscriber: Tier 3'>Twitch Subscriber: Tier 3</option>
<option value='Mod-mod'>Mod-mod</option>
<option value='Legacy Mod'>Legacy Mod</option>
<option value='Stream King'>Stream King</option>
<option value='Muted'>Muted</option>
<option value='Noice Peepo'>Noice Peepo</option>
<option value='Baka'>Baka</option>
<option value='Reactions'>Reactions</option>
<option value='GenPics'>GenPics</option>
<option value='TPR'>TPR</option>
<option value='NamePeeps'>NamePeeps</option>
<option value='Level Zero'>Level Zero</option>
<option value='HelpPics'>HelpPics</option>
<option value='ChatKiller'>ChatKiller</option>
<option value='Alpha Gaming Bot'>Alpha Gaming Bot</option>
<option value='GifPeeps'>GifPeeps</option>
<option value='YouTube Member'>YouTube Member</option>
<option value='YouTube Member: Thrifty Boi'>YouTube Member: Thrifty Boi</option>
<option value='YouTube Member: True Senpai'>YouTube Member: True Senpai</option>
<option value='YouTube Member: the Moon'>YouTube Member: the Moon</option>
<option value='The Intern'>The Intern</option>
<option value='SenpaiBot'>SenpaiBot</option>
<option value='YAGPDB.xyz'>YAGPDB.xyz</option>
<option value='Muted - (by yagpdb)'>Muted - (by yagpdb)</option>
<option value='YT Streamer'>YT Streamer</option>
<option value='YouTuber'>YouTuber</option>
<option value='TikTok'>TikTok</option>
<option value='Twitch'>Twitch</option>
<option value='FB Streamer'>FB Streamer</option>
<option value='Other Content'>Other Content</option>
<option value='Lock Bot'>Lock Bot</option>
<option value='TimTam'>TimTam</option>
{% endblock %}